/fileShareStudy/bin
/fileShareStudy/obj
/fileShareStudy/Properties
/.vs
/fileShareStudy2/obj
/fileShareStudy2/bin
/fileShareStudy2/Properties
/ReadOpen/obj
/ReadOpen/bin
/WriteOpen/bin
/WriteOpen/obj
